<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <title>PROFILE</title>
</head>
<body>

<ul class="nav nav-tabs" style="background-color:white;">
  <li class="nav-item">
    <a class="nav-link fa fa-home" href="{% url 'home-page' %}">Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link active fa fa-user" href="{% url 'profile' %}">Profile</a>
  </li>
    <li class="nav-item">
            <a class="nav-link fa fa-sign-out" href="{% url 'logout' %}">logout</a>
        </li>
  <li>
      <form class="d-flex" action="{% url 'search' %}" method="GET">
        <input class="form-control" type="text" placeholder="Search" name="search-term">
        <button class="btn btn-primary" type="submit">Search</button>
  </form>
  </li>

</ul>
<div class="containers">
<div class="row" id="rowdiv">
  <div class=" backwhite" id="imgdiv" style="width:35%; margin-top:5%; margin-left:4%;">
      <img src="{{request.user.profile_pics.url}}" alt="Profile Picture" id="profimg">
      <h4 style="color:#00ccff; margin:auto; text-align: center;">@{{request.user.username}}</h4>

  </div>

    <div class="  backwhite" id="details" style="width: 50%; border-radius: 25px; padding: 5px; border: 3px solid black; margin-right:5%; margin-top:1%;">
      <h3 class="br">{{request.user.first_name}} {{request.user.last_name}}</h3>
      <h5 class="br">{{request.user.bio}}</h5>
        <h5 class="br">{{request.user.phone_num}}</h5>
      <h6 class="br">{{request.user.email}}</h6>
      <a href="{% url 'account-settings' %}" class="btn btn-primary br" id="editprof" style="width:60%;">Edit Account</a>
        <br>
        <a href="{% url 'logout' %}"> <button type="button" class="btn btn-danger fa fa-sign-out" style="margin-left:2%; margin-top:4%; margin-bottom:5%; width:50%; height:20%;">Logout</button></a>

    </div>
</div>
</div>
<a href="{% url 'new-post' %}" class="btn btn-primary" style="width:40%; margin-top:2%; margin-left:1%;">Create New Post</a>

<h6 style="margin-left:1%;">{{request.user.get_num_posts}} Posts</h6>
<div class="container" style="padding:10px">
    {% for post in object_list %}
    <div style="border: 1px solid black; background-color: white; border-radius: 5px; margin-top:1%; padding:7px">
        <h5>{{post.caption}}</h5>
        <h6>{{post.date_created}}</h6>
        <div style="display:flex;">
            {% if post.vid_post %}
                <video width="50%" height="50%" controls>
                <source src="{{post.vid_post.url}}" type="video/mp4">
            </video>
            {% else %}
                <p>No Video available</p>
            {% endif %}

            {% if post.image_post %}
                <img src="{{post.image_post.url}}" alt="Image" style="width:50%; height:50%; margin-left:5%;" loading="lazy">
            {% else %}
                <p style="margin-left:5%;">No image available</p>
            {% endif %}
        </div>
        <div style="display:flex;">

                <form method="POST" action="{% url 'like-post' post.slug %}" id="like-form">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">
                        <i class="fa fa-thumbs-up"><span>{{ post.likes.count }}</span></i>
                    </button>
                </form>
                <form method="POST" action="{% url 'dislike-post' post.slug %}" id="dislike-form">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">
                        <i class="fa fa-thumbs-down"><span>{{ post.dislikes.count }}</span></i>
                    </button>
                </form>

            </div>
            <a href="/{{post.slug}}/comments/"> <button type="button" class="btn">Comments</button></a>
    </div>
    {% endfor %}
</div>
</body>
</html>